.setup{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 32px;
    padding: 16px;
    max-width: 100vw;
}

.setup .form{
    display: flex;
    flex-direction: column;

    gap: 16px;
    padding: 16px 0 16px 0;

    width: 700px;
    max-width: 100%;
}

.setup h3{
    font-size: 18px;
    width: 100%;
    text-align: center;
}

.setup .value{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.setup button{
    padding: 8px;
    width: 100%;
}