.card{
    display: flex;
    flex-direction: column;
    align-items: center;

    /* 20px for the gap */
    width: calc(33.3% - (16px * 2) / 3);
    gap: 10px;
    padding: 16px;

    background-color: var(--lGreen);
    
    transition: transform 0.3s ease;
}

.card:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.card h3{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.card img{
    width: 95px;
    height: 95px;
}

@media (max-width: 768px){
    .card{
        width: 125px;
    }
}