.skills-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 16px;
    width: 700px;
    max-width: 100svw;
}

.skills-container .skills{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.skills-container .skills .row{
    display: flex;
    gap: 16px;
    width: 100%;
}

@media (max-width: 768px){
    .skills-container .skills .row{
        flex-wrap: wrap;
        justify-content: center;
    }
}