/* Header */

.logo-title{
    display: flex;
    align-items: center;
    gap: 16px;
    width: max-content;
}

.logo-title img{
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.logo-title div{
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 48px;
    font-family: Montserrat;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
}