.learning-journey{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    /* gap: 4rem; */
    width: 100%;
    max-width: 100vw;
}

.journey{
    display: flex;
    flex-direction: column;
    position: relative;
    /* gap: 96px; */
    width: 100%;
    align-items: center;
    padding: 2rem;
    padding-top: 6rem;
}

.journey .journey-lines{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;

    stroke: var(--Yellow);
    stroke-width: 3px;
    fill: none;

    z-index: 1;
}

.journey .step{
    width: 361px;
    min-height: 96px;
    background-color: var(--lGreen);
    border: 3px solid var(--lGreenB);
    border-radius: 6666px;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 2;
    font-size: 24px;
    text-align: center;

    transition: transform 0.3s ease;
    padding: 0.75rem;

    text-decoration: none;
}

.steps{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 96px;
    width: 100%;
    align-items: center;
    padding: 2rem;
    /* padding-top: 6rem; */
}

.steps .step:hover{
    transform: scale(1.05);
    cursor: pointer;
}

/* Right */
.steps .step:nth-child(4n+2){
    margin-left: 391px;
}

/* Left */
.steps .step:nth-child(4n+4){
    margin-right: 391px;
}


@media (max-width: 768px){
    .learning-journey{
        padding: 2rem 0 0 0;
        gap: 1rem;
    }

    .learning-journey h2{
        padding: 0 0.5rem 0 0.5rem;
        text-align: center;
    }

    .steps{
        gap: 1rem;
        padding: 0;
    }

    .steps .step{
        width: 100px;
        font-size: 12px;
    }

    /* Right */
    .steps .step:nth-child(4n+2){
        margin-left: 0;
    }

    /* Left */
    .steps .step:nth-child(4n+4){
        margin-right: 0;
    }

    .steps .step:nth-child(odd){
        margin-left: 50px;
    }

    .steps .step:nth-child(even){
        margin-right: 50px;
    }
}