/* Popup */
#Modal{
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;

    z-index: 6666;

    display: flex;
    align-items: center;
    justify-content: center;
}

#Modal .popup{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--White);
    padding: 1rem;
    padding-bottom: calc(1rem + 18px);
    border-radius: 5px;

    width: 700px;
}

#Modal .close{
    display: flex;
    flex-direction: row-reverse;
    cursor: default;
    width: 100%;
}

#Modal .close div{
    cursor: pointer;
    font-weight: bold;
}

#Modal .content div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}