.all-skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 32px 10px 32px 10px;
}

.all-skills .section-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.all-skills .section-title img{
    width: 32px;
    height: 32px;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.all-skills .section-title img:hover{
    opacity: 1;
    cursor: pointer;
}

.all-skills .section-content{
    display: flex;
    justify-content: center;
    padding: 10px;
}