html, body{
  font-size: 18px;
  margin: 0;
  padding: 0;
  background-color: var(--White);
  color: var(--Black);

  /* font-family: "Montserrat", sans-serif; */
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
}

button{
  background-color: var(--Green);
  color: var(--White);
  border: none;
  border-radius: 5px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 10px;

  font-size: 18px;
  font-weight: bold;

  width: max-content;
  max-width: 100%;
  height: auto;

  font-family: "Montserrat", sans-serif;

  transition: transform 0.3s ease;
}

button:hover{
  transform: scale(1.05);
  cursor: pointer;
}

input{
  border: 1px solid var(--lGray);
  border-radius: 5px;
  padding: 12px 16px 12px 16px;
  font-size: 18px;
}

.line{
  width: 1000px;
  height: 3px;
  background-color: var(--lGreen);
}

h1, h2, h3{
  margin: 0;
}

a{
  color: var(--GreenT);
}

.attribution{
  box-sizing: border-box;
  padding: 16px;
}

/* Webkit browsers */
body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--Green);
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover{
  background-color: var(--GreenT);
  cursor: pointer;
}

body::-webkit-scrollbar-track {
  background-color: var(--White);
  border-radius: 6px;
}

/* Firefox */
body {
  scrollbar-width: 0.75rem;
  scrollbar-color: var(--Green);
}

@media (max-width: 768px){
  html, body{
    font-size: 16px;
  }
}