:root{
    --White: #F7FFF9;
    --Black: #333333;
    --lGreen: #E4FAED;
    --lGreenB: #DDF9E7;
    --Green: #599C74;
    --GreenT: #20603A;
    --Yellow: #F6C358;
    --lGray: #D9D9D9;
}

div{
    box-sizing: border-box;
}